@charset "UTF-8";
@font-face {
	font-family: "NanumSquare";
	src: local(NanumSquare);
	src: url("https://campaign-cdn.pstatic.net/0/campaign/font/NanumSquare/NanumSquareR.eot") format("opentype"), url("https://campaign-cdn.pstatic.net/0/campaign/font/NanumSquare/NanumSquareR.woff") format("woff"), url("https://campaign-cdn.pstatic.net/0/campaign/font/NanumSquare/NanumSquareR.ttf") format("truetype");
	font-weight: normal;
}
@font-face {
	font-family: "NanumSquare";
	src: url("https://campaign-cdn.pstatic.net/0/campaign/font/NanumSquare/NanumSquareB.eot"), url("https://campaign-cdn.pstatic.net/0/campaign/font/NanumSquare/NanumSquareB.woff") format("woff"), url("https://campaign-cdn.pstatic.net/0/campaign/font/NanumSquare/NanumSquareB.ttf") format("truetype");
	font-weight: bold;
}
@font-face {
	font-family: "NanumSquare";
	src: url("https://campaign-cdn.pstatic.net/0/campaign/font/NanumSquare/NanumSquareEB.eot"), url("https://campaign-cdn.pstatic.net/0/campaign/font/NanumSquare/NanumSquareEB.woff") format("woff"), url("https://campaign-cdn.pstatic.net/0/campaign/font/NanumSquare/NanumSquareEB.ttf") format("truetype");
	font-weight: 900;
}
@font-face {
	font-family: "NanumSquare";
	src: url("https://campaign-cdn.pstatic.net/0/campaign/font/NanumSquare/NanumSquareLight.eot"), url("https://campaign-cdn.pstatic.net/0/campaign/font/NanumSquare/NanumSquareLight.woff") format("woff"), url("https://campaign-cdn.pstatic.net/0/campaign/font/NanumSquare/NanumSquareLight.ttf") format("truetype");
	font-weight: 300;
}
@font-face {
	font-family: "NanumSquareNeo";
	font-style: normal;
	src: url("https://campaign-cdn.pstatic.net/0/campaign/font/NanumSquareNeo/NanumSquareNeoTTF-aLt.eot");
	src: url("https://campaign-cdn.pstatic.net/0/campaign/font/NanumSquareNeo/NanumSquareNeoTTF-aLt.eot?#iefix") format("embedded-opentype"), url("https://campaign-cdn.pstatic.net/0/campaign/font/NanumSquareNeo/NanumSquareNeoTTF-aLt.woff") format("woff"), url("https://campaign-cdn.pstatic.net/0/campaign/font/NanumSquareNeo/NanumSquareNeoTTF-aLt.woff2") format("woff2"), url("https://campaign-cdn.pstatic.net/0/campaign/font/NanumSquareNeo/NanumSquareNeoTTF-aLt.ttf") format("truetype");
	font-weight: 300;
}
@font-face {
	font-family: "NanumSquareNeo";
	font-style: normal;
	src: url("https://campaign-cdn.pstatic.net/0/campaign/font/NanumSquareNeo/NanumSquareNeoTTF-bRg.eot");
	src: url("https://campaign-cdn.pstatic.net/0/campaign/font/NanumSquareNeo/NanumSquareNeoTTF-bRg.eot?#iefix") format("embedded-opentype"), url("https://campaign-cdn.pstatic.net/0/campaign/font/NanumSquareNeo/NanumSquareNeoTTF-bRg.woff") format("woff"), url("https://campaign-cdn.pstatic.net/0/campaign/font/NanumSquareNeo/NanumSquareNeoTTF-bRg.woff2") format("woff2"), url("https://campaign-cdn.pstatic.net/0/campaign/font/NanumSquareNeo/NanumSquareNeoTTF-bRg.ttf") format("truetype");
	font-weight: 400;
}
@font-face {
	font-family: "NanumSquareNeo";
	font-style: normal;
	src: url("https://campaign-cdn.pstatic.net/0/campaign/font/NanumSquareNeo/NanumSquareNeoTTF-cBd.eot");
	src: url("https://campaign-cdn.pstatic.net/0/campaign/font/NanumSquareNeo/NanumSquareNeoTTF-cBd.eot?#iefix") format("embedded-opentype"), url("https://campaign-cdn.pstatic.net/0/campaign/font/NanumSquareNeo/NanumSquareNeoTTF-cBd.woff") format("woff"), url("https://campaign-cdn.pstatic.net/0/campaign/font/NanumSquareNeo/NanumSquareNeoTTF-cBd.woff2") format("woff2"), url("https://campaign-cdn.pstatic.net/0/campaign/font/NanumSquareNeo/NanumSquareNeoTTF-cBd.ttf") format("truetype");
	font-weight: bold;
}
@font-face {
	font-family: "NanumSquareNeo";
	font-style: normal;
	src: url("https://campaign-cdn.pstatic.net/0/campaign/font/NanumSquareNeo/NanumSquareNeoTTF-dEb.eot");
	src: url("https://campaign-cdn.pstatic.net/0/campaign/font/NanumSquareNeo/NanumSquareNeoTTF-dEb.eot?#iefix") format("embedded-opentype"), url("https://campaign-cdn.pstatic.net/0/campaign/font/NanumSquareNeo/NanumSquareNeoTTF-dEb.woff") format("woff"), url("https://campaign-cdn.pstatic.net/0/campaign/font/NanumSquareNeo/NanumSquareNeoTTF-dEb.woff2") format("woff2"), url("https://campaign-cdn.pstatic.net/0/campaign/font/NanumSquareNeo/NanumSquareNeoTTF-dEb.ttf") format("truetype");
	font-weight: 800;
}
@font-face {
	font-family: "NanumSquareNeo";
	font-style: normal;
	src: url("https://campaign-cdn.pstatic.net/0/campaign/font/NanumSquareNeo/NanumSquareNeoTTF-eHv.eot");
	src: url("https://campaign-cdn.pstatic.net/0/campaign/font/NanumSquareNeo/NanumSquareNeoTTF-eHv.eot?#iefix") format("embedded-opentype"), url("https://campaign-cdn.pstatic.net/0/campaign/font/NanumSquareNeo/NanumSquareNeoTTF-eHv.woff") format("woff"), url("https://campaign-cdn.pstatic.net/0/campaign/font/NanumSquareNeo/NanumSquareNeoTTF-eHv.woff2") format("woff2"), url("https://campaign-cdn.pstatic.net/0/campaign/font/NanumSquareNeo/NanumSquareNeoTTF-eHv.ttf") format("truetype");
	font-weight: 900;
}
html, body {
	height: 100%;
	-webkit-text-size-adjust: none;
}

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p, table, th, td, form, fieldset, legend, textarea, input, select, textarea, button, figure, figcaption, a, span, address, strong {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

body, input, select, textarea, button, h1, h2, h3, h4, h5, h6, a {
	color: #111;
	font-family: "NanumSquareNeo", "NanumSquare", "나눔스퀘어", AppleSDGothicNeo-Regular, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.4;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

img {
	border: 0;
	vertical-align: top;
}

ul, ol, li {
	list-style: none;
}

em, address {
	font-style: normal;
}

a {
	color: inherit;
	text-decoration: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
	-webkit-tap-highlight-color: transparent;
}

a:hover, a:active, a:focus {
	text-decoration: none;
	outline: 0;
}

button {
	border: none;
	background: none;
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
	-webkit-tap-highlight-color: transparent;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.blind {
	overflow: hidden;
	position: absolute !important;
	width: 1px;
	height: 1px;
	border: 0;
	padding: 0;
	clip: rect(0px, 0px, 0px, 0px);
}

input, select, textarea, button, a, label {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/*  공통 요소 */
html, body {
	height: 100%;
	margin: 0;
}

section {
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.inner {
	position: relative;
	width: 1170px;
	margin: 0 auto;
	box-sizing: border-box;
}

/*  //공통 요소 */
.wrap {
	min-width: 1170px;
	/*  메인 */
	/*  //메인 */
	/*  프로필 */
	/*  //프로필 */
	/* 작업물 */
	/* //작업물 */
}
.wrap .header {
	background: url(../img/header_spot_bg.png) no-repeat #000;
	background-position: 50% 0;
	text-align: center;
}
.wrap .header .inner {
	display: flex;
	padding-bottom: 60px;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.wrap .header .inner_txt {
	font-size: 28px;
	color: rgba(255, 255, 255, 0.8);
	font-weight: bold;
}
.wrap .header .inner_txt.time {
	font-size: 100px;
	font-weight: 900;
}
.wrap .header .img_area {
	margin-top: -100px;
}
.wrap .header .tit {
	position: relative;
	margin-top: -40px;
	font-size: 38px;
	background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	font-weight: 800;
	animation: hue 5s infinite linear;
	z-index: 10;
}
@keyframes hue {
	from {
		filter: hue-rotate(0deg);
	}
	to {
		filter: hue-rotate(360deg);
	}
}
.wrap .header .info_area {
	position: absolute;
	width: 100%;
	bottom: 0px;
	left: 50%;
	right: 50%;
	font-size: 18px;
	transform: translate(-50%, 0);
	padding-bottom: 60px;
	z-index: 20;
	animation: motion 0.5s linear 0s infinite alternate;
}
.wrap .header .info_area p {
	position: relative;
	display: inline-block;
	color: #fff;
}
.wrap .header .info_area p::before {
	position: absolute;
	left: -10px;
	right: -10px;
	bottom: -30px;
	height: 6px;
	border-radius: 20px;
	background: #fff;
	content: "";
}
@keyframes motion {
	0% {
		bottom: 0px;
	}
	100% {
		bottom: 10px;
	}
}
.wrap .about {
	background-color: #f9f9f9;
}
.wrap .about .tit_area {
	position: fixed;
	top: 0;
	width: 100%;
	height: 60px;
	background: url(../img/icon_instagram.png) 15px 50% no-repeat #fff;
	background-size: 32px 32px;
	border-bottom: 1px solid #d1d1d1;
	z-index: 10;
}
.wrap .about .tit_area h2 {
	position: relative;
	padding-left: 70px;
	font-weight: 800;
	line-height: 60px;
	font-family: "Somi", "NanumSquareNeo", "NanumSquare", "나눔스퀘어", AppleSDGothicNeo-Regular, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 20px;
}
.wrap .about .tit_area h2::before {
	position: absolute;
	height: 24px;
	width: 1px;
	top: 50%;
	bottom: 50%;
	left: 60px;
	transform: translate(0, -50%);
	background-color: #d1d1d1;
	content: "";
}
.wrap .about .info_area {
	display: flex;
	justify-content: center;
	padding-top: 80px;
}
.wrap .about .img_area {
	position: relative;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 250px;
	height: 250px;
	margin-right: 110px;
	border: 4px solid transparent;
	background-image: linear-gradient(rgb(255, 219, 177), rgb(255, 202, 202)), linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
	background-origin: border-box;
	background-clip: content-box, border-box;
	border-radius: 50%;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.wrap .about .img_area::before {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	border: 4px solid #fff;
	border-radius: 50%;
	content: "";
}
.wrap .about .img_area img {
	width: 300px;
	height: auto;
}
.wrap .about .profile_area {
	font-size: 0;
}
.wrap .about .profile_area .name {
	font-size: 24px;
}
.wrap .about .profile_area .emali {
	display: inline-block;
	margin-left: 8px;
	font-size: 16px;
}
.wrap .about .profile_area .heart_btn {
	display: inline-block;
	width: 25px;
	height: 25px;
	margin-left: 10px;
	background: url(../img/icon_heart.png) 50% 0 no-repeat;
	background-size: 16px 16px;
	transition: all 0.5s;
}
.wrap .about .profile_area .heart_btn:hover {
	background: url(../img/icon_heart_on.png) 50% 0 no-repeat;
	background-size: 16px 16px;
}
.wrap .about .profile_area .txt_list {
	margin-top: 12px;
	font-size: 16px;
}
.wrap .about .profile_area .txt_list div, .wrap .about .profile_area .txt_list dt {
	display: inline-block;
}
.wrap .about .profile_area .txt_list div + div {
	margin-left: 22px;
}
.wrap .about .profile_area .txt_list dd {
	display: inline-block;
	font-weight: bold;
}
.wrap .about .info_txt {
	margin-top: 30px;
	font-size: 18px;
}
.wrap .about .info_txt + .info_txt {
	margin-top: 15px;
}
.wrap .about .skil_list {
	display: flex;
	margin-top: 40px;
	justify-content: space-evenly;
}
.wrap .about .skil_list .items {
	position: relative;
	overflow: hidden;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	border: 1px solid #aaaaaa;
	box-sizing: border-box;
}
.wrap .about .skil_list .items:hover .skil_area {
	transform: translateY(0);
	opacity: 1;
}
.wrap .about .skil_list .items::before {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	border: #fff 3px solid;
	border-radius: 50%;
	content: "";
	z-index: 100;
}
.wrap .about .skil_list .skil_name {
	overflow: hidden;
	position: relative;
	display: block;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	text-align: center;
	box-sizing: border-box;
	font-size: 18px;
	font-weight: 900;
	color: #fff;
	line-height: 120px;
	background-color: rgb(211, 211, 211);
	transform: translate3d(0, 0, 0);
}
.wrap .about .skil_list .skil_name.plus {
	color: rgb(211, 211, 211);
	background-color: #fff;
}
@keyframes move {
	100% {
		transform: rotate(360deg);
	}
}
.wrap .about .skil_list .skil_area {
	overflow: hidden;
	opacity: 0;
	position: absolute;
	display: flex;
	width: 120px;
	height: 120px;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	text-align: center;
	box-sizing: border-box;
	background-color: rgb(211, 211, 211);
	transform: translateY(100%);
	transition: 0.5s;
	z-index: 10;
}
.wrap .about .skil_list .skil_area .inner_txt {
	position: relative;
	display: inline-block;
	font-size: 18px;
	font-weight: 900;
	color: #fff;
	z-index: 20;
}
.wrap .about .skil_list .skil_area::before {
	position: absolute;
	width: 200px;
	height: 200px;
	top: 5%;
	left: -30%;
	border-radius: 45%;
	background: linear-gradient(to right, #f12711, #f5af19);
	animation: move 3s infinite linear;
	content: "";
}
.wrap .about .skil_list .skil_area.css::before {
	top: 10%;
	background: linear-gradient(to right, #00b4db, #0083b0);
}
.wrap .about .skil_list .skil_area.scss::before {
	top: 30%;
	background: linear-gradient(to right, #ec008c, #fc6767);
}
.wrap .about .skil_list .skil_area.javascript::before {
	top: 70%;
	background: linear-gradient(to right, #fffc00, #fffea9);
}
.wrap .about .skil_list .skil_area.react::before {
	top: 90%;
	background: linear-gradient(to right, #00c9ff, #92fe9d);
}
.wrap .about .skil_list .skil_area.github::before {
	top: 35%;
	background: linear-gradient(to right, #232526, #414345);
}
.wrap .about .skil_list .skil_area.plus {
	background-color: #fff;
}
.wrap .about .skil_list .skil_area.plus::before {
	top: 15%;
	background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
}
.wrap .about .footer {
	position: relative;
	margin-top: 60px;
	text-align: center;
}
.wrap .about .footer .inner {
	border-top: 1px solid #d1d1d1;
}
.wrap .about .footer p {
	position: relative;
	display: inline-block;
	padding-top: 15px;
	font-size: 14px;
}
.wrap .about .footer p::before {
	position: absolute;
	height: 3px;
	left: 0;
	right: 0;
	top: 0;
	background-color: #222;
	content: "";
}
.wrap .about .footer::before {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 50%;
	right: 50%;
	top: 42px;
	transform: translate(-50%, 0);
	background: url(../img/down_arrow.png) 0 0/32px 32px no-repeat;
	animation: motion2 0.3s linear 0s infinite alternate;
	content: "";
}
@keyframes motion2 {
	0% {
		top: 42px;
	}
	100% {
		top: 48px;
	}
}
.wrap .work {
	background-color: #fff;
}
.wrap .work .list_panel {
	overflow: hidden;
	display: flex;
	width: 500px;
	background-color: #fff;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.wrap .work .list_panel .content_tit {
	width: 100px;
	padding-top: 90px;
	border-right: 1px solid #d1d1d1;
	background: url(../img/naver_logo.png) 50% 13px/64px 64px no-repeat;
	box-sizing: border-box;
	text-align: center;
	font-size: 16px;
	font-weight: 800;
	box-sizing: border-box;
}
.wrap .work .inner_area {
	z-index: 300;
	width: 400px;
	height: 100%;
	position: relative;
	transform: translateZ(0);
}
.wrap .work .inner_area .tit_area {
	position: relative;
	padding-top: 16px;
}
.wrap .work .inner_area .tit_area .notice {
	display: block;
	width: 90%;
	height: 36px;
	margin: 0 auto;
	background: url(../img/notice_icon.png) 5px 50%/32px 32px no-repeat #e9efff;
	text-align: center;
	color: #3868EB;
	line-height: 36px;
	font-size: 16px;
	border-radius: 6px;
}
.wrap .work .inner_area .tit_area .inner_txt {
	margin-top: 20px;
	text-align: center;
	font-size: 14px;
	line-height: 20px;
}
.wrap .work .inner_area .tit_area .inner_txt + .inner_txt {
	margin-top: 10px;
}
.wrap .work .inner_area .tit_area .inner_txt:last-child {
	margin-bottom: 20px;
	color: #3dc948;
	font-weight: bold;
}
.wrap .work .inner_area .scroll {
	overflow: hidden;
	position: relative;
	display: block;
	height: calc(100% - 252px);
}
.wrap .work .inner_area .scroll::before {
	position: absolute;
	left: 20px;
	right: 20px;
	top: 15px;
	height: 1px;
	background-color: #d1d1d1;
	content: "";
}
.wrap .work .inner_area .scroll .tit {
	position: relative;
	display: inline-block;
	height: 30px;
	margin-left: 40px;
	padding: 0 10px;
	line-height: 30px;
	background-color: #fff;
	font-size: 16px;
	z-index: 10;
}
.wrap .work .inner_area .scroll .tit em {
	font-weight: 800;
}
.wrap .work .inner_area .content {
	position: relative;
	overflow-y: auto;
	height: 100%;
}
.wrap .work .inner_area .content::-webkit-scrollbar {
	width: 6px;
}
.wrap .work .inner_area .content::-webkit-scrollbar-thumb {
	background-color: #b8b8b8;
	border-radius: 14px;
}
.wrap .work .inner_area .content::-webkit-scrollbar-track {
	background-color: #e9e9e9;
}
.wrap .work .inner_area .items a {
	display: block;
	padding: 25px 10px;
}
.wrap .work .inner_area .items .img_area {
	width: 100%;
	height: auto;
}
.wrap .work .inner_area .items .img_area img {
	width: 100%;
	height: auto;
}
.wrap .work .inner_area .items strong {
	display: block;
	padding: 0 15px;
	margin-top: 8px;
	font-size: 18px;
	font-weight: 800;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
}
.wrap .footer_area {
	background-color: rgb(255, 167, 167);
}
/*# sourceMappingURL=band.css.map */
