@charset "utf-8";
@import "common/base.scss";


section { 
    width: 100%; 
    height: 100%; 
    position: relative; 
    display: flex; 
    justify-content: 
    center; 
    align-items: center; 
}

.section01 {
    background: url(../img/header_spot_bg.png) no-repeat #000;
    background-position: 50% 0;
    text-align: center;

    .inner {
        display: flex;
        padding-bottom: 60px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .inner_txt {
        font-size: 28px;
        color: rgba(255, 255, 255, 0.8);
        font-weight: bold;

        &.time {
            font-size: 100px;
            font-weight: 900;
        }
    }

    .img_area {
        margin-top: -100px;
    }

    .tit {
        position: relative;
        margin-top: -40px;
        font-size: 38px;
        background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
        background-clip:text;
        -webkit-background-clip:text;
        color:transparent;
        font-weight: 800;
        animation: hue 5s infinite linear;
        z-index: 10;
    }

    @keyframes hue {
        from {
            filter: hue-rotate(0deg);
        }
        to {
            filter: hue-rotate(360deg);
        }
      }

    .info_area {
        position: absolute;
        width: 100%;
        bottom: 0px;
        left: 50%;
        right: 50%;
        font-size: 18px;
        transform: translate(-50%, 0);
        padding-bottom: 60px;
        z-index: 20;
        animation: motion 0.5s linear 0s infinite alternate;

        p {
            position: relative;
            display: inline-block;
            color: #fff;

            &::before {
                position: absolute;
                left: -10px;
                right: -10px;
                bottom: -30px;
                height: 6px;
                border-radius: 20px;
                background: #fff;
                content: '';
            }
        }
    }

    @keyframes motion {
        0% {
            bottom: 0px;
        }
        100% {
            bottom: 10px;
        }
    }
}

.section02 {
    background-color: #f9f9f9;

    .inner {
        width: 1120px;
    }

    .tit_area {
        position: fixed;
        top: 0;
        width: 100%;
        height: 60px;
        background: url(../img/icon_instagram.png) 15px 50% no-repeat #fff;
        background-size: 32px 32px;
        border-bottom: 1px solid #d1d1d1;
        z-index: 10;

        h2 {
            position: relative;
            padding-left: 70px;
            font-weight: 800;
            line-height: 60px;
            font-family: 'Somi','NanumSquareNeo','NanumSquare','나눔스퀘어',AppleSDGothicNeo-Regular,"Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 20px;

            &::before {
                position: absolute;
                height: 24px;
                width: 1px;
                top: 50%;
                bottom: 50%;
                left: 60px;
                transform: translate(0, -50%);
                background-color: #d1d1d1;
                content: '';
            }
        }
    }

    .info_area {
        display: flex;
        justify-content: center;
        padding-top: 80px;
    }

    .img_area {
        position: relative;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 250px;
        height: 250px;
        margin-right: 110px;
        border: 4px solid transparent;
        background-image: linear-gradient(rgb(255, 219, 177), rgb(255, 202, 202)), linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
        background-origin: border-box;
        background-clip: content-box, border-box;
        border-radius: 50%;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

        &::before {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            border: 4px solid #fff;
            border-radius: 50%;
            content: '';
        }

        img {
            width: 300px;
            height: auto;
        }
    }

    .profile_area {
        font-size: 0;

        .name {
            font-size: 24px;
        }

        .emali {
            display: inline-block;
            margin-left: 8px;
            font-size: 16px;
        }

        .heart_btn {
            display: inline-block;
            width: 25px;
            height: 25px;
            margin-left: 10px;
            background: url(../img/icon_heart.png) 50% 0 no-repeat;
            background-size: 16px 16px;
            transition: all .5s;

            &:hover {
                background: url(../img/icon_heart_on.png) 50% 0 no-repeat;
                background-size: 16px 16px;
            }
        }

        .txt_list {
            margin-top: 12px;
            font-size: 16px;

            div, dt {
                display: inline-block;
            }

            div + div {
                margin-left: 22px;
            }

            dd {
                display: inline-block;
                font-weight: bold;
            }
        }
    }

    .info_txt {
        margin-top: 30px;
        font-size: 18px;

        & + .info_txt {
            margin-top: 15px;
        }
    }

    .skil_list {
        display: flex;
        margin-top: 40px;
        justify-content: space-evenly;


        .items {
            position: relative;
            overflow: hidden;
            width: 120px;
            height: 120px;
            border-radius: 50%;
            border: 1px solid #aaaaaa;
            box-sizing: border-box;

            &:hover {
                .skil_area {
                    transform: translateY(0);
                    opacity: 1;
                }
            }

            &::before {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                border: #fff 3px solid;
                border-radius: 50%;
                content: '';
                z-index: 100;
            }
        }

        .skil_name {
            overflow: hidden;
            position: relative;
            display: block;
            width: 120px;
            height: 120px;
            border-radius: 50%;
            text-align: center;
            box-sizing: border-box;
            font-size: 18px;
            font-weight: 900;
            color: #fff;
            line-height: 120px;
            background-color: rgb(211, 211, 211);
            transform: translate3d(0, 0, 0);

            &.plus {
                color: rgb(211, 211, 211);
                background-color: #fff;
            }
        }

        @keyframes move {
            100% {
              transform: rotate(360deg);
            }
        }

        .skil_area {
            overflow: hidden;
            opacity: 0;
            position: absolute;
            display: flex;
            width: 120px;
            height: 120px;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            text-align: center;
            box-sizing: border-box;
            background-color: rgb(211, 211, 211);
            transform: translateY(100%);
            transition: 0.5s;
            z-index: 10;

            .inner_txt {
                position: relative;
                display: inline-block;
                font-size: 18px;
                font-weight: 900;
                color: #fff;
                z-index: 20;
            }

            &::before {
                position: absolute;
                width: 200px;
                height: 200px;
                top: 5%;
                left: -30%;
                border-radius: 45%;
                background: linear-gradient(to right, #f12711, #f5af19);
                animation: move 3s infinite linear;
                content: '';
            }

            &.css {
                &::before {
                    top: 10%;
                    background: linear-gradient(to right, #00b4db, #0083b0);
                }
            }

            &.scss {
                &::before {
                    top: 30%;
                    background: linear-gradient(to right, #ec008c, #fc6767);
                }
            }

            &.javascript {
                &::before {
                    top: 70%;
                    background: linear-gradient(to right, #fffc00, #fffea9);
                }
            }

            &.react {
                &::before {
                    top: 90%;
                    background: linear-gradient(to right, #00c9ff, #92fe9d);
                }
            }

            &.github {
                &::before {
                    top: 35%;
                    background: linear-gradient(to right, #232526, #414345);
                }
            }

            &.plus {
                background-color: #fff;
                &::before {
                    top: 15%;
                    background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
                }
            }
        }
    }

    .footer {
        position: relative;
        margin-top: 60px;
        text-align: center;

        .inner {
            border-top: 1px solid #d1d1d1;
        }

        p {
            position: relative;
            display: inline-block;
            padding-top: 15px;
            font-size: 14px;

            &::before {
                position: absolute;
                height: 3px;
                left: 0;
                right: 0;
                top: 0;
                background-color: #222;
                content: '';
            }
        }

        &::before {
            position: absolute;
            width: 32px;
            height: 32px;
            left: 50%;
            right: 50%;
            top: 42px;
            transform: translate(-50%, 0);
            background: url(../img/down_arrow.png) 0 0 / 32px 32px no-repeat;
            animation: motion2 0.3s linear 0s infinite alternate;
            content: '';
        }
    }

    @keyframes motion2 {
        0% {
            top: 42px;
        }
        100% {
            top: 48px;
        }
    }
}

.section03 {
    background-color: #fff;
      
    .list_panel {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        display: flex;
        width: 500px;
        background-color: #fff;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        z-index: 100;

        .content_tit {
            width: 100px;
            padding-top: 90px;
            border-right: 1px solid #d1d1d1;
            background: url(../img/naver_logo.png) 50% 13px / 64px 64px no-repeat;
            box-sizing: border-box;
            text-align: center;
            font-size: 16px;
            font-weight: 800;
            box-sizing: border-box;
        }
    }
      
    .inner_area {
        width: 400px;
        height: 100%;
        position: relative;
        transform: translateZ(0);

        .tit_area {
            position: relative;
            padding-top: 16px;

            .notice {
                display: block;
                width: 90%;
                height: 36px;
                margin: 0 auto;
                background: url(../img/notice_icon.png) 5px 50% / 32px 32px no-repeat #e9efff;
                text-align: center;
                color: #3868EB;
                line-height: 36px;
                font-size: 16px;
                border-radius: 6px;
            }

            .inner_txt {
                margin-top: 20px;
                text-align: center;
                font-size: 14px;
                line-height: 20px;

                & + .inner_txt {
                    margin-top: 10px;
                }

                &:last-child {
                    margin-bottom: 20px;
                    color: #3dc948;
                    font-weight: bold;
                }
            }
        }

        .scroll {
            overflow: hidden;
            position: relative;
            display: block;
            height: calc(100% - 252px);

            &::before {
                position: absolute;
                left: 20px;
                right: 20px;
                top: 15px;
                height: 1px;
                background-color: #d1d1d1;
                content: '';
            }
            
            .tit {
                position: relative;
                display: inline-block;
                height: 30px;
                margin-left: 40px;
                padding: 0 10px;
                line-height: 30px;
                background-color: #fff;
                font-size: 16px;
                z-index: 10;

                em {
                    font-weight: 800;
                }
            }
        }

        .content {
            position: relative;
            overflow-y: auto;
            max-height: 100%;

            &::-webkit-scrollbar {
                width: 6px;
            }

            &::-webkit-scrollbar-thumb {
                background-color: #b8b8b8;
                border-radius: 14px;
            }

            &::-webkit-scrollbar-track {
                background-color: #e9e9e9;
            }
        }

        .items {
            a {
                display: block;
                padding: 25px 10px;
            }

            .img_area {
                width: 100%;
                height: auto;

                img {
                    width: 100%;
                    height: auto;
                }
            }

            strong {
                display: block;
                padding: 0 15px;
                margin-top: 8px;
                font-size: 18px;
                font-weight: 800;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                text-align: center;
            }
        }
    }

    .mySwiper {
        height: 100%;
        margin-left: 500px;
        padding: 30px 60px;

        .swiper-slide {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .img_area {
            position: relative;
            overflow: hidden;
            min-width: 450px;
            width: 450px;
            height: auto;
            overflow-y: auto;
            max-height: 100%;
            box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
            border-radius: 16px;

            img {
                width: 100%;
                height: auto;
            }

            &::-webkit-scrollbar {
                display: none;
            }

            .arrow_area {
                position: fixed;
                width: 32px;
                left: 50px;
                bottom: 0;
                top: 0;
                background: url(../img/scorll_icon.png) 0 50% / 32px 32px no-repeat;
                animation: motion3 0.3s linear 0s infinite alternate;
            }

            @keyframes motion3 {
                0% {
                    background-position: 0 50%;
                }
                100% {
                    background-position: 0 51%;
                }
            }
        }

        dl {
            margin-left: 40px;
            padding-left: 30px;
            border-left: 3px solid #0385ff;
            font-size: 18px;
            line-height: 26px;

            &::after {
                display: block;
                content: '';
                clear: both;
            }

            .dl_area + .dl_area {
                margin-top: 10px;
            }

            dt {
                width: 100px;
                float: left;
                font-weight: 800;
            }

            dd {
                overflow: hidden;
                display: block;
            }

            .link_area {
                overflow: hidden;
                display: inline-block;
                height: 26px;
                padding: 0 12px;
                font-size: 14px;
                line-height: 26px;
                border: 1px solid #0385ff;
                color: #0385ff;
                border-radius: 8px;
                font-weight: bold;
                transition: all 0.3s;

                &:hover {
                    background-color: #0385ff;
                    color: #fff;
                }

                & + .link_area {
                    margin-left: 6px;
                }
            }
        }
    }
}
.section04 { 
    background: #EDE4E0;

    .content_area {
        position: relative;
        width: 350px;
        height: 600px;
        background-color: #fff;
        text-align: center;
        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
        transition: .4s;
        transform-style: preserve-3d;
        animation: anima 8s infinite;
        
        @keyframes anima {
            0% {
                transform: rotateY(0deg);
            }
            20% {
                transform: rotateY(180deg);
            }
            50% {
                transform: rotateY(180deg);
            }
            70% {
                transform: rotateY(360deg);
            }
            100% {
                transform: rotateY(360deg);
            }
        }
    }

    .card_area {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%; 
        height: 100%;
        backface-visibility: hidden;

        &.front {
            position: relative;
            font-size: 18px;
            font-weight: 800;
            color: #665A48;
            line-height: 34px;

            .point {
                font-size: 22px;
                line-height: 40px;
                background-color: #665A48;
                color: #EDE4E0;
            }

            &::before {
                position: absolute;
                width: 100%;
                height: 55px;
                top: 0;
                border-bottom: 10px solid #C8DBBE;
                content: '';
            }

            &::after {
                position: absolute;
                width: 100%;
                height: 55px;
                bottom: 0;
                border-top: 10px solid #9F8772;
                content: '';
            }
        }

        &.back {
            margin-top: -600px;
            transform: rotateY(180deg);

            .tit_area {
                padding-bottom: 22px;
                border-bottom: 2px solid #665A48;
                color: #665A48;

                .sub_tit {
                    display: block;
                    font-size: 22px;
                    font-weight: 800;
                }

                .tit {
                    font-size: 18px;
                    font-weight: bold;
                }
            }

            dl {
                padding: 22px 0;
                border-bottom: 2px solid #C8DBBE;
                
                .info_area {
                    & + .info_area {
                        margin-top: 14px;
                    }
                    dt {
                        font-size: 18px;
                        color: #665A48;
                        font-weight: bold;
                    }

                    dd {
                        margin-top: 4px;
                        color: #9F8772;
                        font-size: 14px;
                    }
                }
            }

            p {
                padding-top: 22px;
                font-size: 16px;
                line-height: 24px;
                color: #9F8772;
                letter-spacing: -.5px;
            }
        }
    }
}

@media (max-width: 1500px) {
    .section03 {
        .mySwiper {
            .img_area {
                min-width: 250px;
                width: 250px;
            }
        }
    }
}

@media (max-width: 1120px) {
    .section01 {
        background-size: 375px auto;
    
        .inner {
            padding-bottom: 30px;
        }
    
        .inner_txt {
            font-size: 18px;
    
            &.time {
                font-size: 80px;
            }
        }
    
        .img_area {
            width: 210px;
            height: auto;
            margin-top: -60px;

            img {
                width: 100%;
                height: auto;
            }
        }
    
        .tit {
            margin-top: -25px;
            font-size: 24px;
        }
    
        .info_area {
            font-size: 14px;
            padding-bottom: 30px;
    
            p {
                &::before {
                    left: -5px;
                    right: -5px;
                    bottom: -12px;
                    height: 3px;
                }
            }
        }
    
        @keyframes motion {
            0% {
                bottom: 0px;
            }
            100% {
                bottom: 5px;
            }
        }
    }
    
    .section02 {
        background-color: #f9f9f9;
    
        .inner {
            width: 375px;
            padding: 0 20px;
            box-sizing: border-box;
        }
    
        .tit_area {
            height: 60px;
            background: url(../img/icon_instagram.png) 15px 50% no-repeat #fff;
            background-size: 32px 32px;
    
            h2 {
                font-size: 18px;
    
                &::before {
                    left: 58px;
                }
            }
        }
    
        .info_area {
            flex-direction: column;
            padding-top: 30px;
        }
    
        .img_area {
            width: 125px;
            height: 125px;
            margin-right: 20px;
            border: 2px solid transparent;
    
            &::before {
                border: 2px solid #fff;
            }
    
            img {
                width: 125px;
            }
        }
    
        .profile_area {
            margin-top: 10px;

            .name {
                font-size: 18px;
            }
    
            .emali {
                margin-left: 6px;
                font-size: 12px;
            }
    
            .heart_btn {
                height: 20px;
                margin-left: 4px;
    
                &:hover {
                    background: url(../img/icon_heart_on.png) 50% 0 no-repeat;
                    background-size: 16px 16px;
                }
            }
    
            .txt_list {
                margin-top: 3px;
                font-size: 12px;
    
                div + div {
                    margin-left: 10px;
                }
            }
        }
    
        .info_txt {
            margin-top: 16px;
            font-size: 12px;
    
            & + .info_txt {
                margin-top: 6px;
            }
        }
    
        .skil_list {
            flex-wrap: wrap;
            margin-top: 15px;
    
            .items {
                width: 60px;
                height: 60px;
    
                &::before {
                    border: #fff 2px solid;
                }

                & + .items {
                    margin-left: 20px;
                }
            }
    
            .skil_name {
                width: 60px;
                height: 60px;
                font-size: 10px;
                line-height: 60px;
                font-weight: bold;
            }
    
            .skil_area {
                width: 60px;
                height: 60px;
    
                .inner_txt {
                    font-size: 10px;
                    font-weight: bold;
                }
    
                &::before {
                    width: 100px;
                    height: 100px;
                }
            }
        }
    
        .footer {
            margin-top: 20px;
    
            p {
                padding-top: 9px;
                font-size: 11px;
    
                &::before {
                    height: 2px;
                }
            }
    
            &::before {
                width: 16px;
                height: 16px;
                top: 31px;
                background: url(../img/down_arrow.png) 0 0 / 16px 16px no-repeat;
            }
        }
    
        @keyframes motion2 {
            0% {
                top: 31px;
            }
            100% {
                top: 34px;
            }
        }
    }
    
    .section03 {
        .list_panel {
            width: 50px;
    
            .content_tit {
                width: 50px;
                padding-top: 52px;
                background: url(../img/naver_logo.png) 50% 13px / 32px 32px no-repeat;
                font-size: 10px;
            }
        }
          
        .inner_area {
            display: none;
        }
    
        .mySwiper {
            margin-left: 50px;
            padding: 20px 20px;
    
            .img_area {
                min-width: 120px;
                width: 120px;
                border-radius: 12px;
    
                .arrow_area {
                    display: none;
                }
            }
    
            dl {
                margin-left: 15px;
                padding-left: 15px;
                border-left: 1px solid #0385ff;
                font-size: 12px;
                line-height: 16px;
    
                .dl_area + .dl_area {
                    margin-top: 6px;
                }
    
                dt {
                    float: none;
                    display: block;
                    width: 100%;
                }
    
                dd {
                    overflow: hidden;
                    display: block;
                }
    
                .link_area {
                    max-width: 105px;
                    height: 16px;
                    padding: 0 8px;
                    font-size: 10px;
                    line-height: 16px;
                    border-radius: 8px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
    
                    & + .link_area {
                        margin-left: 0px;
                    }
                }
            }
        }
    }

    .section04 {
        .content_area {
            width: 250px;
            height: 500px;
        }
    
        .card_area {
            &.front {
                font-size: 16px;
                line-height: 28px;

                .point {
                    font-size: 20px;
                    line-height: 32px;
                }
            }
    
            &.back {
                margin-top: -500px;
    
                .tit_area {
                    padding-bottom: 18px;
    
                    .sub_tit {
                        font-size: 18px;
                    }
    
                    .tit {
                        font-size: 16px;
                    }
                }
    
                dl {
                    padding: 18px 0;
                    
                    .info_area {
                        & + .info_area {
                            margin-top: 10px;
                        }
                        dt {
                            font-size: 16px;
                        }
    
                        dd {
                            margin-top: 4px;
                            font-size: 12px;
                        }
                    }
                }
    
                p {
                    padding-top: 18px;
                    font-size: 12px;
                    line-height: 20px;
                }
            }
        }
    }
}