@charset "utf-8";
@import "common/base.scss";

.wrap {
    position: relative;

    .nav {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        height: 58px;
        z-index: 99;

        .inner {
            display: flex;
            width: 100%;
            height: 58px;
            justify-content: space-between;
            align-items: center;
            padding: 0 50px;
        }

        .tit {
            font-size: 26px;
            font-weight: 900;
            color: #fff;
        }

        .menu_list {
            display: flex;

            li {
                padding: 6px 16px 5px;
                border-radius: 25px;
                transition: all .2s;

                & + li {
                    margin-left: 20px;
                }

                a {
                    font-size: 14px;
                    font-weight: 800;
                    color: rgba(255, 255, 255, 0.8);
                }

                &:hover {
                    background-color: rgba(255, 255, 255, 0.2);

                    a {
                        color: #fff;
                    }
                }
            }
        }

        &.fix {
            background-color: rgba(29,29,31,0.32);
            backdrop-filter: saturate(180%) blur(20px);
            border-bottom: 1px solid rgba(255,255,255,0.34);

            .menu_list {
                li:hover {
                    background-color: rgba(255, 255, 255, 0.14);
                }
            }
        }
    }

    .header {
        position: relative;
        min-height: 100vh;

        .spot {
            position: relative;
            width: 100%;
            height: 100vh;

            &::after {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background: rgba(0, 0, 0, 0.4);
            }
        }

        .video_area {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 0;

            video {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }

        .inner {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1;
            transform: translate3d(0px, 0, 0);
        }

        .spot_tit {
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            width: 100%;
            text-align: center;

            .spot_txt {
                margin-bottom: 40px;
                font-size: 78px;
                font-weight: 800;
                line-height: 114px;
                letter-spacing: -4px;
                color: rgba(255, 255, 255, 0.9);
                text-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
            }
        }

        .down_btn {
            position: absolute;
            width: max-content;
            left: 50%;
            right: 50%;
            bottom: 16px;
            transform: translate(-50%, 0);
            color: rgba(255, 255, 255, 0.8);
            font-weight: 800;
            font-size: 18px;
            animation: motion .5s linear 0s infinite alternate;
            z-index: 10;
            transition: all .2s;

            &:hover {
                color: #fff;
            }
        }

        @keyframes motion {
            0% {
                bottom: 16px;
            }
            100% {
                bottom: 30px;
            }
        }
    }

    .content_area {
        position: relative;
        --scroll-length: 1.5;
        height: calc( var(--scroll-length) * 100vh );
        width: 100%;
        background: #000;

        .content {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            max-width: 70vw;
            display: grid;
            grid-template-rows: 1fr 1fr;
            color: white;
            padding: 2em;

            .subheading,
            .paragraph {
                opacity: 1; 
                opacity: calc( 1 + var(--viewport-y) );
            }
        }

        .img_area {
            --scale: calc(.8 + 
              (.2 * var(--scroll-length) * var(--visible-y))
            );
            position: sticky;
            top: 0;
            left: 0;
            margin: 0;
            display: block; 
            overflow: hidden;
            will-change: transform;
            transform: scale(var(--scale));
          
            &:before {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              z-index: 1;
              background-color: rgba(black, 1);
              opacity: calc( var(--visible-y) );
            }
          
            > img {
              display: block;
              will-change: transform;
              transform: scale(calc(1 / var(--scale)));
            }
        }

        .tit_area {
            grid-row: 1 / 2;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            .subheading {
                font-size: 32px;
                font-weight: 800;
            }

            .heading {
                font-size: 16px;
                color: rgba(255, 255, 255, 0.8);
            }
        }

        .paragraph {
            grid-row: 2 / 3;

            p {
                margin-top: 30px;
                font-size: 22px;
                letter-spacing: -.6px;
                line-height: 32px;
            }

            .list_area {
                margin-top: 55px;

                em {
                    display: block;
                    font-size: 16px;
                }
            }
            
        }
    }

    .skill_area {
        background: #000;
        padding-bottom: 120px;

        .tit {
            padding-top: 220px;
            text-align: center;
            color: #fff;
            font-size: 36px;
            font-weight: 900;
        }

        .history_list {
            padding: 40px 0;
            margin-top: 40px;
            color: #fff;
            background: linear-gradient(to right, #00467f, #a5cc82);
        }

        .list_wrap {
            display: flex;
            width: max-content;
            padding: 20px 0;
        }

        .list_box {
            max-width: 250px;
            height: max-content;
            padding: 20px 0;
            margin-left: 40px;
            background-color: rgba(255, 255, 255, 1);
            backdrop-filter: saturate(180%) blur(20px);
            border-radius: 30px;
            text-align: center;
            box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

            &:nth-child(odd) {
                .list_title {
                    color: #5b803b;
                }
            }
        }

        .list_title {
            display: block;
            padding: 0 20px 6px 20px;
            font-size: 16px;
            font-weight: 800;
            color: #00467f;
            word-break: keep-all;
        }

        .list_desc {
            padding-top: 6px;
            border-top: 1px solid rgba(255, 255, 255, 85);
        }

        .list_desc {
            padding: 0 20px;
            font-size: 14px;
            color: #000;
            word-break: keep-all;
        }
    }

    .work_project {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 120px 0 220px;
        background-color: #000;

        .tit {
            display: block;
            margin-bottom: 60px;
            text-align: center;
            font-size: 36px;
            font-weight: 900;
            color: #fff;
        }

        .work_list {
            display: flex;
            flex-direction: row;
            align-items: stretch;
            overflow: hidden;
            min-width: 600px;
            max-width: 900px;
            width: calc(100% - 100px);
            height: 400px;
        }

        .items {
            position: relative;
            overflow: hidden;
            min-width: 60px;
            margin: 10px;
            background: url(../img/project_list_01.png);
            background-size: auto 120%;
            background-position: center;
            cursor: pointer;
            transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);

            &:not(.active) {
                flex-grow: 1;
                border-radius: 30px;
            }

            &::before {
                position: absolute;
                bottom: 0px;
                left: 0px;
                right: 0px;
                height: 320px;
                transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
                content: '';
            }

            &.active {
                flex-grow: 10000;
                transform: scale(1);
                max-width: 600px;
                margin: 0px;
                border-radius: 40px;
                background-size: auto 400px;

                &::before {
                    box-shadow: inset 0 -160px 160px -120px black, inset 0 -140px 140px -140px black;
                }

                .inner_area {
                    .txt_area {
                        opacity: 1;
                    }

                    .link_area {
                        bottom: 20px;
                        right: 20px;
                    }
                }
            }

            .inner_area {
                display: flex;
                position: absolute;
                flex-direction: column;
                width: 100%;
                padding: 0 40px;
                bottom: 20px;
                justify-content: center;
                transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);

                .txt_area {
                    opacity: 0;
                    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95), opacity 0.5s ease-out;
                }

                .work_tit {
                    overflow: hidden;
                    display: block;
                    padding-right: 30px;
                    margin-bottom: 8px;
                    font-size: 20px;
                    font-weight: bold;
                    color: #fff;
                    letter-spacing: -.5px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }

                p {
                    font-size: 14px;
                    color: #fff;
                    letter-spacing: -.2px;
                }
            }

            .link_area {
                position: absolute;
                width: 40px;
                height: 40px;
                bottom: 10px;
                right: 30px;
                border-radius: 50%;
                line-height: 40px;
                text-align: center;
                background-color: rgba(255, 255, 255, 0.7);
                font-weight: 800;
                color: #000;
                transition: all .2s;
                z-index: 10;

                &:hover {
                    background-color: rgba(255, 255, 255, 1);
                }
            }

            &:nth-child(2) {
                background: url(../img/project_list_02.png);
                background-position: center;
                background-size: auto 400px;
            }

            &:nth-child(3) {
                background: url(../img/project_list_03.png);
                background-position: center;
                background-size: auto 400px;
            }

            &:nth-child(4) {
                background: url(../img/project_list_04.png);
                background-position: center;
                background-size: auto 400px;
            }

            &:nth-child(5) {
                background: url(../img/project_list_05.png);
                background-position: center;
                background-size: auto 400px;
            }

            &:nth-child(6) {
                background: url(../img/project_list_06.png);
                background-position: center;
                background-size: auto 400px;
            }
        }
    }
}